<%# app/views/home/index.html.erb %>

<div class="max-w-full mx-auto md:px-2">
  <% if device_type != :mobile %>

    <section>
      <%# Hero Banner %>
      <%= render partial: 'shared/hero_banner', locals: { hero: @hero } %>
    </section>

    <div class="my-6">
      <%= render partial: 'carousel', locals: { hero: @hero } %>
    </div>

    <%# Categories only available on full app%>

    <%= render partial: "categories", locals: { categories: @categories } %>
  <% end %>


<%# Ticket Stub Display Section - removed to be used elsewhere %>

  <% if device_type == :mobile %>
    <!-- Trending Events Section -->
    <section>
      <div class="flex justify-between lg:justify-center items-center mb-4">
        <h2 class="text-lg font-semibold text-indigo-900">Trending Events</h2>
        <%# <a href="#" class="text-sm text-gray-600">See All</a> %>
      </div>

      <div class="mb-8 flex justify-center">

        <div class="flex flex-col bg-white max-w-[319px]">


          <div class="flex overflow-x-auto pb-10 hide-scroll-bar">
            <div class="flex flex-nowrap">
              <%= render partial: "article", locals: { trending: @trending_events } %>
            </div>
          </div>
        </div>
        <style>
            .hide-scroll-bar {
                -ms-overflow-style: none;
                scrollbar-width: none;
            }

            .hide-scroll-bar::-webkit-scrollbar {
                display: none;
            }
        </style>
      </div>
    </section>

  <% end %>

  <!-- Most Popular Section -->
  <% if false %>
    <!--  <section class="mb-8">-->
    <!--    <div class="flex justify-between items-center mb-4">-->
    <!--      <h2 class="text-lg font-semibold text-indigo-900">Most Popular</h2>-->
    <%# <a href="#" class="text-sm text-gray-600">See All</a> %>
    <!--    </div>-->

    <!--     Similar grid structure as Trending Events-->
    <!--    <div class="grid grid-cols-2 gap-4">-->
    <%# @popular_events&.each do |event| %>
    <!--         Similar card structure as above-->
    <%# end %>
    <!--    </div>-->
    <!--  </section>-->
  <% end %>

  <% if device_type == :mobile %>
  <!-- More Events Section -->
  <section>
    <h2 class="text-lg font-semibold text-indigo-900 mb-4">More Events</h2>
    <div class="grid grid-cols-2 gap-4">
      <% @more_events&.each do |event| %>
        Similar card structure as above
      <% end %>
    </div>
  </section>
    <% end %>

  <% if device_type != :mobile %>

    <div class="flex flex-col bg-white max-w-screen-2xl">
      <%= render partial: "large_screen_sections" %>
    </div>
  <% end %>

  <%# Event Listings %>


  </div>