<%# app/views/home/index.html.erb %>

<div class="max-w-full md:px-2">
  <% if device_type != :mobile %>

    <section>
      <%# Hero Banner %>
      <%= render partial: 'shared/hero_banner', locals: { hero: @hero } %>
    </section>

    <div class="my-6">
      <%= render partial: 'carousel', locals: { hero: @hero } %>
    </div>

    <%# Categories only available on full app%>

    <%= render partial: "categories", locals: { categories: @categories } %>

    <div class="flex flex-col bg-white max-w-screen-2xl">
      <%= render partial: "large_screen_sections" %>
    </div>
  <% end %>


  <% if device_type == :mobile %>
    <%= render partial: "mobile_index", locals: { event_list: @trending_events } %>
  <% end %>

</div>