<%= form_with model: @event, local: true, class: "space-y-4" do |form| %>
  <%= render "shared/errors", object: @event %>
  <div>
    <%= form.label :title, "Event Title", class: "block font-semibold" %>
    <%= form.text_field :title, class: "w-full border rounded p-2" %>
  </div>

  <div>
    <%= form.label :description, "Description", class: "block font-semibold" %>
    <%= form.text_area :description, class: "w-full border rounded p-2", placeholder: "What is this event for?" %>
  </div>

  <section>
    <h2>Media Upload Section</h2>
    <div data-controller="image-preview">

      <div class="flex flex-row items-center justify-center w-full">

        <div class="grow">
          <%= form.label :cover_image,
                         class: "flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600" do %>


            <div class="flex flex-col items-center justify-center pt-5 pb-6" data-image-preview-target="chooser">
              <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
              </svg>

              <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                <span class="font-semibold">Click to upload</span>
                or
                drag and drop</p>
              <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
            </div>
            <img data-image-preview-target="canvas" class="object-contain overflow-auto" hidden>
            <%= form.file_field :cover_image, class: "hidden", accept: "image/*", data: { image_preview_target: "source", action: "image-preview#show" } %>
          <% end %>
        </div>
      </div>
    </div>

  </section>


  <div class="flex flex-col justify-center">
    <H1>Dates</H1>

    <div id="date-range-picker" date-rangepicker  datepicker-orientation="top" datepicker-autohide datepicker-format="yyyy-mm-dd" class="flex items-center">
      <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-6 h-6 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
          </svg>
        </div>

        <%= form.text_field :start_date_text, id: "datepicker-range-start", value: @event.start_date.localtime.strftime("%Y-%m-%d"),
              class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
                            placeholder: "Start Date" %>
      </div>
      <span class="mx-4 text-gray-500">to</span>
      <div class="relative" >
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-6 h-6 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
          </svg>
        </div>
        <%= form.text_field :end_date_text, id: "datepicker-range-end", value: @event.end_date.localtime.strftime("%Y-%m-%d"),
                            class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
                            placeholder: "End Date" %>
      </div>
    </div>

    <div class="flex items-center justify-stretch">
        <%#= form.label :start_time, "Start Time", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center justify-center ps-3 pointer-events-auto">
            <svg class="w-6 h-6 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z"/>
            </svg>
          </div>
          <%= form.time_field :start_time,
                              class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-12 pe-16 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
                              list: "time_list", value:  @event.end_date.present? ? @event.start_date.localtime : next_quarter_hour(Time.now),
                              include_seconds: false %>
        </div>

      <span class="mx-4 text-gray-500 pl-1">to</span>
        <%#= form.label :end_time, "Event End Time", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <div class="relative">

          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-6 h-6 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z" clip-rule="evenodd"/>
            </svg>
          </div>

          <%= form.time_field :end_time,
                              class: "bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-12 pe-16 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 overflow-auto",
                              list: "time_list", value: @event.end_date.present? ? @event.start_date.localtime : next_quarter_hour(Time.now + 2.hours), include_seconds: false %>

        </div>


      <datalist id="time_list">
        <% quater_hour_time_intervals.each do |time| %>
          <option value="<%= time %>">
        <% end %>
      </datalist>

    </div>
  </div>

  <div>
    <%= form.label :location, "Event Location", class: "block font-semibold" %>
    <%= form.text_field :location, class: "w-full border rounded p-2" %>
  </div>

  <div class="flex space-x-4">
    <% if defined? button_text %>
      <%= form.submit "#{button_text}", class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700" %>
    <% else %>
      <%= form.submit class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700" %>
    <% end %>

    <%= link_to "Cancel", session[:previous_url] || root_path, class: "bg-gray-400 text-white px-4 py-2 rounded hover:bg-gray-700" %>
  </div>

<% end %>


