
<%= form_with model: @event, local: true, class: "space-y-4" do |form| %>
  <%= render "shared/errors", object: @event %>
  <div>
    <%= form.label :title, "Event Title", class: "block font-semibold" %>
    <%= form.text_field :title, class: "w-full border rounded p-2" %>
  </div>

  <div>
    <%= form.label :description, "Description", class: "block font-semibold" %>
    <%= form.text_field :description, class: "w-full border rounded p-2" %>
  </div>

  <section class="flex flex-col justify-center items-center px-4 pb-4 mt-14 w-80 max-w-full rounded-xl border border-black border-dashed" aria-labelledby="drag-drop-title">
    <h2 id="drag-drop-title" class="sr-only">Media Upload Section</h2>

      <div class="flex flex-col items-center py-2">
        <%= form.file_field :cover_image, multiple: false, class: "flex gap-3 items-center cursor-pointer", id: "cover-image-upload" %>
        <%= form.label :cover_image do %>
          <div class="border border-black border-dashed" aria-hidden="true"></div>
        <% end %>
      </div>

  </section>

  <div>
    <%= form.label :start_date, "Event Start Date", class: "block font-semibold" %>
    <%= form.date_field :start_date, class: "w-full border rounded p-2" %>
  </div>

  <div>
    <%= form.label :end_date, "Event Start Date", class: "block font-semibold" %>
    <%= form.date_field :end_date, class: "w-full border rounded p-2" %>
  </div>

  <div>
    <%= form.label :location, "Event Location", class: "block font-semibold" %>
    <%= form.text_field :location, class: "w-full border rounded p-2" %>
  </div>

  <div class="flex space-x-4">
    <% if defined? button_text %>
      <%= form.submit "#{button_text}", class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700"%>
    <% else  %>
      <%= form.submit class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700" %>
    <% end %>

    <%= link_to "Cancel", session[:previous_url] || root_path, class: "bg-gray-400 text-white px-4 py-2 rounded hover:bg-gray-700" %>
  </div>

<% end %>


