<h2 class="text-2xl font-bold text-gray-800 mb-6">Create a New Event</h2>

<%= form_with model: @event, local: true, class: "space-y-4" do |form| %>
  <%= render "shared/errors", object: @event %>
  <div>
    <%= form.label :title, "Event Title", class: "block font-semibold" %>
    <%= form.text_field :title, class: "w-full border rounded p-2" %>
  </div>

  <div>
    <%= form.label :description, "Description", class: "block font-semibold" %>
    <%= form.text_field :description, class: "w-full border rounded p-2" %>
  </div>

  <div>
    <%= form.label :start_date, "Event Start Date", class: "block font-semibold" %>
    <%= form.date_field :start_date, class: "w-full border rounded p-2" %>
  </div>

  <div>
    <%= form.label :end_date, "Event Start Date", class: "block font-semibold" %>
    <%= form.date_field :end_date, class: "w-full border rounded p-2" %>
  </div>

  <div>
    <%= form.label :location, "Event Location", class: "block font-semibold" %>
    <%= form.text_field :location, class: "w-full border rounded p-2" %>
  </div>

  <!--  <div>-->
  <%#= form.label :ticket_types, "Ticket Types", class: "block font-semibold" %>
  <%#= form.select :ticket_types, ['General', 'VIP'], {}, {multiple: true, class: "w-full border rounded p-2" } %>
  <!--  </div>-->


  <!--  <div class="grid-cols-1 justify-start space-x-4">-->
  <%#= form.label :ticket_types_ids, "Ticket Types", class: "block font-semibold" %>
  <!--    <ul class="list-none">-->
  <%#=form.collection_check_boxes(:ticket_types_ids, @event.ticket_types, :id, :name, html_options = {}) %>

  <%#= form.collection_check_boxes(:ticket_types_ids, @event.ticket_types, :id, :name) do |b| %>
  <!--      <div class="items-center space-x-5">-->
  <!--        <li><%#= b.check_box(class: "rounded text-blue-500 space mr-10") %>-->
  <%#= b.label(class: "space text-gray-700") %>
  <!--        </li>-->
  <!--      </div>-->
  <%# end %>
  <!--    </ul>-->
  <!--  </div>-->

  <%= form.submit "Create Event", class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700" %>
<% end %>
