<section class="container mx-auto mt-0 h-[100%]">

<h2 class="text-2xl font-bold text-gray-800 mb-6">Browse Events</h2>

<%= render partial: "events/partials/categories", locals: { categories: @categories} %>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  <% @events.each do |event| %>
    <div class="bg-white shadow-md rounded p-4">
      <h3 class="text-xl font-semibold text-gray-800"><%= link_to event.title, event_path(event) %></h3>
      <p class="text-gray-600">Run by <%= event.organizer.name %> on <%= event.start_date %> </p>
      <p class="mt-2"><%= link_to 'View Details', event_path(event), class: "text-blue-500 hover:underline" %></p>
    </div>
  <% end %>
</div>
</section>