<div class="bg-white shadow rounded p-6 mb-6">

  <h2 class="text-3xl font-bold text-gray-800 mb-4"><%= @event.title %></h2>
  <p class="text-gray-600 mb-6"><%= @event.start_date %> at <%= @event.location %></p>
  <%= turbo_frame_tag "event_status_#{@event.id}" do %>
    <p>Status: <%= @event.status %></p>
    <% if event_owner? %>
      <%= link_to 'Edit Status', edit_status_event_path(@event), data: { turbo_frame: "event_status_#{@event.id}" } %>
    <% end %>
  <% end %>
  <% if event_owner?  %>
    <div>
    <%= link_to new_event_check_in_path(@event), class: "inline-block p-2"  do %>
      <div class="">Check In</div>
      <svg xmlns="http://www.w3.org/2000/svg" class="size-12" viewBox="0 0 24 24">
        <rect width="24" height="24" fill="none"/>
        <path fill="currentColor" d="M2 7V2h5v2H4v3zm0 15v-5h2v3h3v2zm15 0v-2h3v-3h2v5zm3-15V4h-3V2h5v5zm-2.5 10.5H19V19h-1.5zm0-3H19V16h-1.5zM16 16h1.5v1.5H16zm-1.5 1.5H16V19h-1.5zM13 16h1.5v1.5H13zm3-3h1.5v1.5H16zm-1.5 1.5H16V16h-1.5zM13 13h1.5v1.5H13zm6-8v6h-6V5zm-8 8v6H5v-6zm0-8v6H5V5zM9.5 17.5v-3h-3v3zm0-8v-3h-3v3zm8 0v-3h-3v3z"/>
      </svg>
      </div>
    <% end %>
      </div>
  <% end %>
</div>
<div class="bg-white shadow rounded p-6 mb-6">
  <h3 class="text-xl font-bold text-gray-800 mb-2">Event Description</h3>
  <p class="text-gray-700"><%= @event.description %></p>
</div>


<div class="bg-white shadow rounded p-6 mb-6">
  <h3 class="text-xl font-bold text-gray-800 mb-4">Tickets</h3>
  <button class="flex p-2">
    <%= link_to 'Register & Buy Tickets', new_event_event_registration_path(@event), class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700" %>
  </button>
</div>

<% if @event_registrations.present? %>
  <div class="">
    <%= render partial: 'event_registrations/index', event_registrations: @event_registrations %>
  </div>
<% end %>