<%# Header/Navigation %>

<% if device_type != :desktop %>
  <!-- Mobile Header -->
  <div class="lg:hidden px-4 py-2">
    <div class="flex items-center justify-between bg-white">
      <% if current_user %>
        <button class="p-2">
          <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9"/>
            </svg>

          <% end %>
        </button>
        <div class="grid-cols-4 grid gap-2">
          <!--        <div class="col-span-3 mt-2">-->
          <%#= render "shared/mobile_search" %>
          <!--        </div>-->
          <h1 class="text-lg font-medium">Hey <%= current_user.name&.capitalize %></h1>
        </div>

        <button class="p-2">
          <%= link_to edit_user_path(current_user), class: "text-gray-600 hover:text-gray-900" do %>
            <div class="h-8 w-8 rounded-full bg-indigo-600 text-white flex items-center justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"/>
              </svg>
            </div>
          <% end %>
        </button>

      <% else %>

        <button class="p-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
          </svg>
        </button>

        <%#= render "shared/mobile_search" %>
        <div class="flex justify-items-end items-center">
          <h1 class="text-lg font-bold space-x-1">Hey There</h1>
          <button class="p-2">
            <%= link_to new_user_session_path, class: "text-gray-600 hover:text-gray-900" do %>
              <div class="h-8 w-8 rounded-full  flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"/>
                </svg>
              </div>
            <% end %>
          </button>
        </div>
      <% end %>

    </div>
  </div>
  <!-- Mobile Header End -->


<% else %>

  <!-- Desktop Header -->
  <div class="hidden lg:flex items-center justify-between px-8 py-4">
    <div class="flex items-center space-x-12">

      <h1 class="text-2xl font-bold"><%#= link_to "Event Labs", root_path %></h1>
      <%= link_to root_path do %>
        <%= image_tag "event_labs_log.png", class: "h-24 w-auto" %>
      <% end %>
      <h1 class="text-2xl font-bold"><%#= link_to "Event Labs", root_path %></h1>

      <div class="relative">
        <% # TODO: make this a form for search, use turbo frames %>
        <input type="text" placeholder="Search..." class="w-80 pl-10 pr-4 py-2 rounded-full border border-gray-300">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 absolute left-3 top-3 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
        </svg>
      </div>

      <div class="flex items-center space-x-6">
        <%= link_to 'Browse Events', events_path, class: "text-gray-600 hover:text-gray-900" %>
        <%= link_to 'Create Event', new_event_path, class: "text-gray-600 hover:text-gray-900" %>
        <a href="#" class="text-gray-600 hover:text-gray-900">Help Centre</a>
        <% if current_user %>

          <%= link_to "Dashboard", dashboard_index_path, class: "text-gray-600 hover:text-gray-900" %>
          <%= link_to edit_user_path(current_user), class: "text-gray-600 hover:text-gray-900" do %>
            <div class="flex items-center space-x-1">
              <span><%= current_user.name&.capitalize %></span>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
              </svg>
            </div>
          <% end %>

          <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete } %>

        <% else %>
          <button class="px-4 py-2 text-white bg-purple-600 rounded-lg hover:bg-purple-700">
            <%= link_to "Sign In", new_user_session_path %></button>

          <button class="px-4 py-2 text-purple-600 border border-purple-600 rounded-lg hover:bg-purple-50">
            <%= link_to "Sign Up", new_user_registration_path %></button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>