<!DOCTYPE html>
<html lang="en">
<head>
  <title>Event Labs</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'application', media: 'all', "data-turbo-track": 'reload' %>
  <%= javascript_importmap_tags %>
  <%= favicon_link_tag asset_path('favicon.ico') %>

</head>

<body>
<!-- MAIN CONTAINER-->
<div class="w-full flex h-svh max-h-svh">

  <!-- MAIN AREA CONTAINER-->
  <div class="h-full flex-1">
    <!-- Main Content area, divided vertically into header, content, and footer sections using flexbox-->
    <div class="flex h-full flex-col justify-between overflow-y-scroll">

      <!-- HEADER  -->
      <header class="sticky top-0 w-full sm:z-40 bg-white z-40">
      <!-- Header -->
        <div class="py-5">
          <%= render "layouts/header" %>
        </div>
      </header>

      <!-- MAIN CONTENT -->
      <main class="z-0">
        <!-- Flash -->
        <%= render "layouts/flash" %>
        <!-- Content -->
        <div>
        <%= yield %>
        </div>
      </main>

      <!-- FOOTER -->
      <footer class="hidden lg:block w-full bg-gray-700">
        <!-- Footer Content -->
        <div class="py-1">
          <%= render "layouts/footer" %>
        </div>
      </footer>

      <!-- BOTTOM NAVIGATION -->
      <nav class="sticky top-0 block py-5 lg:hidden">
        <%= render "layouts/botton_navigation" %>
      </nav>

    </div>
  </div>

</div>

</body>
</html>